<form action="/restaurant" method="POST">
<b align="center">restaurant name</b>
<input type="text" placeholder="restaurant name" name="name"> 
  <br>
  <b>restaurant name in English</b>
  <input type="text" placeholder="restaurant name in English" name="name_en"> 
    <br>
  <b>category</b>
  <input type="text" placeholder="category" name="category">
  <br>
  <b>image</b>
  <input type="text" placeholder="image" name="image">
  <br>
  <b>location</b>
  <input type="text" placeholder="location" name="location">
  <br>
  <b>phone</b>
  <input type="text" placeholder="phone" name="phone">
  <br>
  <b>google map link</b>
  <input type="text" placeholder="google map link" name="google_map_link">
  <br>
  <b>rating</b>
  <input type="text" placeholder="rating" name="rating">
  <br>
  <b>description</b>
  <input type="text" placeholder="description" name="description">
  <br>
  <button type="submit" align ="center">Create</button>
</form>